:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  font-family: Roboto Slab, sans-serif;

  background-color: rgb(235, 235, 235);
}

.input {
  width: 300px;
  border: none;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 10px;
  font-size: 15px;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.btn-search {
  width: 40px;
  cursor: pointer;
  background-color: rgb(242, 234, 234);
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
  font-size: 15px;
}

.btn-more {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  width: 150px;
  padding: 10px 5px;
  background-color: rgb(74, 85, 183);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: azure;
}

.btn-more.is-hidden {
  display: none;
}

.search-form {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(45, 20, 187, 0.699);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  text-align: center;
  height: auto;
}

.gallery {
  margin-left: -10px;
  padding-top: 60px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  margin-top: 10px;
  margin-left: 10px;
  min-width: 320px;
  border: 2px solid #f1eeee;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
  flex-basis: calc((100% - 10px) / 5);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gallery__image {
  display: block;
  height: 30vh;
  object-fit: cover;
}

.info {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
}

.info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.gallery__item {
  text-decoration: none;
}
